.App{
  padding: 60px;
  display: flex;
  gap: 50px;
}

.error{
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done{
  opacity: 0.5;
}